# Copy to deploy.env (gitignored) on the Mac that runs Docker.

STOCK_PACK=/Users/enricokallaste/atm10-stock/ServerFiles-8.2

LIVE_SERVER_DIR=/Users/enricokallaste/atm10-instances/prod
NEXT_SERVER_DIR=/Users/enricokallaste/atm10-instances/prod-next
SNAPSHOT_DIR=/Users/enricokallaste/atm10-instances/prod-snapshot
TEST_SERVER_DIR=/Users/enricokallaste/atm10-instances/test

MC_PORT=25565
NEXT_PORT=25566
STATUS_HOST=127.0.0.1
DEPLOY_BRANCH=prod
