LIVE_SERVER_DIR=/Users/enricokallaste/atm10-instances/prod
NEXT_SERVER_DIR=/Users/enricokallaste/atm10-instances/prod-next
SNAPSHOT_DIR=/Users/enricokallaste/atm10-instances/prod-snapshot
MC_PORT=25565
NEXT_PORT=25566
MC_BIND=0.0.0.0
MEM_LIMIT=14g
TZ=Europe/Tallinn
